{% extends 'base.html.twig' %}

{% block stylesheets %} <link href="{{ asset('css/etablir_contrats.css') }}" type="text/css" rel="stylesheet"> {% endblock %}

{% block javascripts %} <script src="{{ asset('js/functions.js') }}"></script> {% endblock %}

{% block body %}

<h1 id="etablir_contrats">Etablir les contrats</h1>

<div id="body">

    <div id="container_button" >
        
        <button onClick="telechargerContrat()">Télécharger le contrat</button> 
        <br/>
        <form action="{{ asset('php/creer_contrat.css') }}" method="POST">
            <button type="submit">Créer le contrat</button> 
        </form>
        <br/>
        <button onClick="modifierContrat()"  >Modifier le contrat</button> 
        <br/>
        <button onClick="supprimerContrat()">Supprimer le contrat</button>

    </div>

    <div id="liste_etudiants">
        <p> Liste des étudiants  </p>
        <ul>
            {% for etudiant in etudiants %}
                <li onClick="choisirEtudiant({{etudiant.numeroEtudiant}})" id="{{etudiant.numeroEtudiant}}" >
                {{etudiant.nom}} {{etudiant.prenom}}
                </li>
            {% endfor %}
        </ul>
    </div>
    
</div>


{% endblock %}